@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
	    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
	    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
	    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
	    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body  {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 30px;
}

.back-hero-img {
  position: relative;
  z-index: 0;
}

.back-hero-img__swiper-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.slide-1,
.slide-2,
.slide-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slide-1 {
  background-image: url(../img/back-hero-img_1_1920.jpg);
}

.slide-2 {
  background-image: url(../img/back-hero-img_2_1920.jpg);
}

.slide-3 {
  background-image: url(../img/back-hero-img_3_1920.jpg);
}

@media (max-width: 1200px) {
  .container {
    max-width: 984px;
  }
}

@media (max-width: 1024px) {
  .slide-1 {
    background-image: url(../img/back-hero-img_1_1024.jpg);
  }

  .slide-2 {
    background-image: url(../img/back-hero-img_2_1024.jpg);
  }

  .slide-3 {
    background-image: url(../img/back-hero-img_3_1024.jpg);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 728px;
  }
}

@media (max-width: 768px) {
  .slide-1 {
    background-image: url(../img/back-hero-img_1_768.jpg);
  }

  .slide-2 {
    background-image: url(../img/back-hero-img_2_768.jpg);
  }

  .slide-3 {
    background-image: url(../img/back-hero-img_3_768.jpg);
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 320px) {
  .slide-1 {
    background-image: url(../img/back-hero-img_1_320.jpg);
  }

  .slide-2 {
    background-image: url(../img/back-hero-img_2_320.jpg);
  }

  .slide-3 {
    background-image: url(../img/back-hero-img_3_320.jpg);
  }
}

/* header-top */

.header-top {
  background-color: #000;
}

.header-top__container {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.header-top__burger {
  display: none;
  width: 36px;
  height: 28px;
  cursor: pointer;
}

.burger-x {
  display: none;
}

.logo {
  display: inline-block;
  width: 173px;
  height: 39.9px;
}

.header-top__logo {
  width: 22%;
  margin-right: auto;
}

.header-top__nav {
  display: flex;
  flex-grow: 1;
}

.header-top__search-btn {
  display: none;
  width: 30px;
  height: 29px;
  cursor: pointer;
}

.header-top__search {
  display: none;
}

.header-top__search-x {
  display: none;
}

.header-top__nav-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-top__nav-item:not(:last-child) {
  margin-right: 3%;
}

.header-top__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease;
}

.header-top__nav-link:hover {
  color: #C283F3;
}

.header-top__nav-link:active {
  color: #7943A4;
  outline: none;
}

.header-top__nav-link:focus:not(:active) {
  outline: none;
  background: #7943A4;
}

.header-top__login {
  width: 28.2%;
  display: flex;
  align-items: center;
}

.header-top__login-link {
  display: inline-block;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease;
}

.header-top__login-link:hover {
  color: #C283F3;
}

.header-top__login-link:active {
  color: #9D5CD0;
}

.header-top__login-link:focus {
  background-color: #7943A4;
  outline: none;
}

.header-top__login-link svg path {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  transition: fill .3s ease;
}

.header-top__login-link:hover svg path {
  fill: #C283F3;
}

.header-top__login-link:active svg path {
  fill: #9D5CD0;
}

@media (max-width: 1200px) {
  .header-top__burger {
    display: inline-block;
    flex-basis: 33.3%;
  }

  .header-top__logo {
    flex-basis: 33.3%;
    width: auto;
    margin-left: auto;
    text-align: center;
  }

  .logo {
    width: auto;
    height: auto;
  }

  .logo svg {
    width: 188px;
    height: 44px;
  }

  .header-top__search-btn {
    flex-grow: 1;
    display: inline-block;
    text-align: end;
  }

  .header-top__login {
    display: none;
  }

  .burger-close {
    position: absolute;
    z-index: 2;
  }

  .header-top__nav {
    display: none;
    height: 768px;
    padding: 96px 48px 51px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  .header-top__nav-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #fff;
  }

  .burger-on {
    display: flex;
    flex-direction: column;
  }

  .burger-close .burger-x {
    display: block;
  }

  .burger-close .burger-img {
    display: none;
  }

  .burger-on .header-top__nav-list {
    display: flex;
    flex-grow: 0;
    flex-basis: 448px;
    flex-direction: column;
  }

  .burger-on .header-top__login {
    display: flex;
    width: 257px;
    height: 60px;
    margin-top: auto;
    padding: 17px 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .burger-on .header-top__login .header-top__login-link {
    margin-left: 0;
  }

  .header-top__search-submit,
  .header-top__search-input {
    background: none;
    border: none;
  }

  .header-top__search-submit {
    cursor: pointer;
  }

  .header-top__search-input {
    margin: 0 10px;
    flex-grow: 1;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    outline: none;
  }

  .header-top__search-btn.search-on  {
    display: none;
  }

  .header-top__search.search-on {
    flex-grow: 1;
    display: flex;
  }

}

@media (max-width: 992px) {

  .header-top__burger.search-on,
  .header-top__logo.search-on {
    display: none;
  }

  .header-top__search-x {
    display: inline-block;
    cursor: pointer;
  }

}

@media (max-width: 576px) {

  .header-top__container {
    min-height: 45px;
  }

  .header-top__burger,
  .burger-img,
  .burger-img svg{
    width: 25px;
    height: 18px;
    color: red;
  }

  .logo svg {
    width: 97px;
    height: 22px;
  }

  .header-top__search-btn,
  .header-top__search-btn svg {
    width: 18px;
    height: 18px;
  }

  .burger-x,
  .burger-x svg{
    width: 15px;
    height: 15px;
  }

  .header-top__nav {
    padding: 46px 15px 27px;
    height: 355px;
  }

  .burger-on .header-top__nav-list {
    flex-basis: 224px;
  }

  .header-top__nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  .burger-on .header-top__login {
    width: 115px;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .header-top__login-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background-size: 9px 9px;
  }

  .header-top__search-submit svg {
    width: 16px;
    height: 16px;
  }

  .header-top__search-x svg {
    width: 15px;
    height: 15px;
  }
}


/* header-bottom */

.header-bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.header-bottom__nav {
  flex-grow: 1;
}

.header-bottom__nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-bottom__nav-item {
  position: relative;
}

.header-bottom__nav-item:not(:last-child) {
  margin-right: 3%;
}

.header-bottom__btn {
  position: relative;
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color .3s linear, color .3s linear;
}

.header-bottom__btn:hover {
  color: #9D5CD0;
}

.header-bottom__btn:active {
  color: #7943A4;
  outline: none;
}

.header-bottom__btn:focus:not(:active) {
  background-color: #7943A4;;
  outline: none;
}

.header-bottom__item-symbol {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s linear;
}

.header-bottom__btn:active .header-bottom__item-symbol {
  transform: rotate(180deg);
}

.header-bottom__btn .header-bottom__item-symbol path {
  transition: stroke .3s linear;
}

.header-bottom__btn:hover .header-bottom__item-symbol path {
  stroke: #9D5CD0;
}

.header-bottom__btn:active .header-bottom__item-symbol path {
  stroke: #7943A4;
}

.header-bottom__search {
  display: flex;
  justify-content: flex-end;
  width: 35.4%;
}

.header-bottom__search-submit {
  margin-right: 9px;
  transform: translateY(4px);
  cursor: pointer;
  background: none;
  border: none;
}

.header-bottom__search-input {
  width: 218px;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.header-bottom__search-input:hover {
  border-color: #C283F3;
}

.header-bottom__search-input:focus {
  border-color: #7943A4;
  outline: none;
}

.header-bottom__search-input:focus::placeholder {
  opacity: 0;
}

.header-bottom__search-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.dropdown-list-active .header-bottom__item-symbol {
  transform: rotate(180deg);
}

.dropdown-list-active + .dropdown-list {
  display: block;
}

.dropdown-list-opacity + .dropdown-list {
  opacity: 1;
}

.dropdown-list-active .dropdown-list {
  display: block;
}

.dropdown-list-opacity .dropdown-list {
  opacity: 1;
}

.dropdown-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 47px;
  width: 300px;
  height: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .3s linear;
}

.dropdown-item {
  display: block;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-link {
  display: flex;
  min-height: 40px;
  width: 100%;
  align-items: center;
  padding: 0 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  outline: none;
  transition: background-color .3s ease;
}

.dropdown-link:hover,
.dropdown-link:focus {
  padding-left: 12px;
  border: 2px solid #9D5CD0;
}

.dropdown-link:active {
  padding-left: 12px;
  background-color: rgba(194, 131, 243, 0.4);
  border: 2px solid #D1A9F0;
}

.back {
  background-repeat: no-repeat;
  background-size: contain;
}

.realism-tintoretto {
  background-image: url(../img/realism-tintoretto.jpg);
}

.realism-fridrich {
  background-image: url(../img/realism-fridrich.jpg);
}

.realism-leonardo {
  background-image: url(../img/realism-leonardo.jpg);
}

.realism-verokko {
  background-image: url(../img/realism-verokko.jpg);
}

.impressionism-mone {
  background-image: url(../img/impressionism-mone.jpg);
}

.impressionism-sisley {
  background-image: url(../img/impressionism-sisley.jpg);
}

.impressionism-mane {
  background-image: url(../img/impressionism-mane.jpg);
}

.impressionism-renuar {
  background-image: url(../img/impressionism-renuar.jpg);
}

.posimpressionism-vangog {
  background-image: url(../img/posimpressionism-vangog.jpg);
}

.posimpressionism-sesann {
  background-image: url(../img/posimpressionism-sesann.jpg);
}

.posimpressionism-gogen {
  background-image: url(../img/posimpressionism-gogen.jpg);
}

.posimpressionism-syora {
  background-image: url(../img/posimpressionism-syora.jpg);
}

.avangard-kandinsky {
  background-image: url(../img/avangard-kandinsky.jpg);
}

.avangard-marinetty {
  background-image: url(../img/avangard-marinetty.jpg);
}

.avangard-malevich {
  background-image: url(../img/avangard-malevich.jpg);
}

.avangard-picasso {
  background-image: url(../img/avangard-picasso.jpg);
}

.futurism-karra {
  background-image: url(../img/futurism-karra.jpg);
}

.futurism-pratella {
  background-image: url(../img/futurism-pratella.jpg);
}

.futurism-severini {
  background-image: url(../img/futurism-severini.jpg);
}

.futurism-bella {
  background-image: url(../img/futurism-bella.jpg);
}

@media (max-width: 1200px) {
  .header-bottom {
    display: none;
  }
}

/* custom scrollbar */

.simplebar-track.simplebar-vertical {
  width: 2px;
  top: 40px;
  bottom: 40px;
  right: 19px;
  background-color: #000;
}

.simplebar-scrollbar {
  width: 2px;
  background-color: #fff;
}


/* section hero */

.hero {
  position: relative;
  pointer-events: none;
}

.hero__container {
  padding-top: 69px;
  padding-bottom: 123px;
}

.hero-title {
  margin-bottom: 19px;
  max-width: 37%;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero-description {
  max-width: 37%;
  margin-bottom: 92px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero-btn {
  display: inline-block;
  position: relative;
  width: 314px;
  height: 70px;
  padding: 23px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #9D5CD0;
  border-radius: 100px;
  pointer-events: auto;
}

.hero-btn::after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color .3s ease;
}

.hero-btn:hover {
  padding: 20px 0;
  border: 3px solid #D1A9F0;
}

.hero-btn:active {
  padding: 20px 0;
  border: 3px solid #D1A9F0;
  background: #7943A4;
}

.hero-btn:focus {
  outline: none;
}

.hero-btn:focus:not(:hover):not(:active)::after {
  border-color: #C283F3;
}

@media (max-width: 1200px) {
  .hero__container {
    padding-top: 111px;
    padding-bottom: 115px;
  }

  .hero-title {
    max-width: 62%;
    margin-bottom: 10px;
  }

  .hero-description {
    max-width: 71%;
    margin-bottom: 134px;
  }
}

@media (max-width: 992px) {
  .hero-title {
    max-width: 100%;
  }

  .hero-description {
    max-width: 100%;
  }
}

@media (max-width: 650px) {

  .hero__container {
    padding-top: 32px;
    padding-bottom: 45px;
  }

  .hero-title {
    display: block;
    max-width: 258px;
    text-align: center;
    margin: 0 auto 10px auto;
    font-size: 32px;
    line-height: 38px;
  }

  .hero-description {
    display: block;
    max-width: 265px;
    margin: 0 auto 39px auto;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
  }

  .hero-btn {
    display: block;
    width: 200px;
    height: 40px;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  .hero-btn:hover {
    padding: 9px 0;
    border: 3px solid #D1A9F0;
  }

  .hero-btn:active {
    background: #7943A4;
    padding: 9px 0;
    border: 3px solid #D1A9F0;
  }

}

/* section about */

.about__container {
  padding-top: 80px;
  padding-bottom: 69px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-title {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333333;
}

.about-description {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

@media (max-width: 1200px) {

  .about__container {
    padding-bottom: 70px;
  }

  .about-description {
    line-height: 32px;
  }
}

@media (max-width: 576px) {

  .about__container {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .about-title {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 38px;
  }

  .about-description {
    font-size: 14px;
    line-height: 28px;
  }
}

/* section gallery */

:root {
  --gallery-vertical-padding: 80px;
}

.gallery {
  background-image: url(../img/gallery_back_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  position: relative;
  display: flex;
  padding-top: var(--gallery-vertical-padding);
  padding-bottom: var(--gallery-vertical-padding);
}

.gallery__title-block,
.gallery__sale {
  width: calc(400 / 1600 * 100%);
}

.gallery__title-block {
  flex-shrink: 0;
  margin-right: 50px;
}

.gallery-title {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #FFFFFF;
}

.gallery__select-description {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 32px;
  color: #FFF;
}

#gallery__select {
  padding: 0;
}

/*===============================
=            Choices            =
===============================*/

.choices {
  position: relative;
  z-index: 2;
  font-size: 16px;
  line-height: 38px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.choices__inner {
  min-height: auto;
  border: none;
}


.choices__inner,
.choices__list--dropdown {
  padding: 0;
  background: none;
}

.choices__list--dropdown {
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices[data-type*='select-one']:after {
  width:  12px;
  height: 7px;
  border: none;
  background-image: url(../img/select_symbol.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.choices[data-type*='select-one'].is-open:after {
  transform: rotate(180deg);
}

.choices[data-type*='select-one'] .choices__inner {
  padding-bottom: 0;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown {
  border-top: none
}

.choices__list--single {
  padding: 0;
  color: #FFFFFF;
}

.choices__placeholder {
  opacity: 1;
}

.is-open {
  color: #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.choices__list--single .choices__item {
  padding-left: 14px;
}

.is-selected {
  display: none;
}
/*=====  End of Choices  ======*/


.gallery__slider {
  width: calc( (1150 + 50) / 1600 * 100% - 50px);
  flex-grow: 1;
}

.gallery__slider-nav {
  height: 30px;
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.gallery__swiper-button-prev,
.gallery__swiper-button-next {
  display: inline-block;
  font-size: 0;
  position: static;
  width: auto;
  height: auto;
  z-index: 0;
  margin-top: 0;
  background: none;
  border: none;
}

.gallery__swiper-button-prev:hover .gallery__swiper-button-prev-img path,
.gallery__swiper-button-next:hover .gallery__swiper-button-next-img path {
  fill: #9D5CD0;
}

.gallery__swiper-button-prev:active .gallery__swiper-button-prev-img,
.gallery__swiper-button-next:active .gallery__swiper-button-next-img {
  border: 2px solid #000000;
  border-radius: 100px;
}

.gallery__swiper-button-prev:active .gallery__swiper-button-prev-img path,
.gallery__swiper-button-next:active .gallery__swiper-button-next-img path {
  fill: #7943A4;
}

.gallery__swiper-button-prev.swiper-button-disabled,
.gallery__swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}

.gallery__pagination {
  display: inline-block;
  width: auto;
  line-height: 32px;
  text-align: center;
  color: #FFF;
}

.gallery__swiper-button-prev::after,
.gallery__swiper-button-next:after {
  content: none;
}

.gallery__swiper-container {
}

.gallery__swiper-slide {
  font-size: 0;
  position: relative;
}

.gallery__swiper-slide:focus {
  outline: none;
}

.gallery__swiper-slide::before {
  content: '';
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 3px*2);
  border: 3px solid transparent;
  transition: border-color .3s ease;
}

.gallery__swiper-slide::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery_hover_img.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity .3s ease;
 }


/* modal window */

:root {
  --modal-window-height: 500px;
  --modal-window-width: 900;
  --modal-window-left: 400;
}

.gallery__list {
  display: none;
}

.gallery__mod-win {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}

.gallery__mod-win-on {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__mod-win-block {
  position: relative;
  width: calc( var(--modal-window-width) / 1660 * 100%);
  min-height: var(--modal-window-height);
  display: flex;
  background-color: #fff;
}

.gallery__mod-win-left {
  min-width: calc(var(--modal-window-left) / var(--modal-window-width) * 100%);
}

.open__swiper-slide {
  pointer-events: none;
}

.open__swiper-slide::before, 
.open__swiper-slide::after {
  content: none;
  font-size: 0;
}

.open__swiper-slide picture {
  display: block;
  width: 100%;
  height: 100%;
}

.open__swiper-slide .gallery__swiper-img {
  position: static;
  top: auto;
  left: auto;
  object-fit: cover;
}

.gallery__mod-win-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.gallery__swiper-text-artist {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333;
}

.gallery__swiper-text-picture {
  font-weight: 600;
  line-height: 22px;
  color: #333;
}

.gallery__swiper-text-years {
  display: inline-block;
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.gallery__swiper-text-description {
  line-height: 22px;
  color: #333;
}

.gallery__mod-win-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.gallery__mod-win-close-img path {
  transition: fill .3s ease;
}

.gallery__mod-win-close:hover .gallery__mod-win-close-img path,
.gallery__mod-win-close:focus .gallery__mod-win-close-img path {
  fill: #9D5CD0;
}

.gallery__mod-win-close:active .gallery__mod-win-close-img path {
  fill: #7943A4;
}

.body__background {
  position: relative;
}

.body__background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1024px) {
  :root {
    --modal-window-height: 594px;
    --modal-window-width: 594;
    --modal-window-left: 264;
  }

  .gallery__mod-win-block {
    width: calc( var(--modal-window-width) / var(--modal-window-width) * 100%);
  }
}

@media (max-width: 768px) {
  :root {
    --modal-window-height: 594px;
    --modal-window-width: 668;
    --modal-window-left: 264;
  }

  .gallery__mod-win-block {
    width: calc( var(--modal-window-width) / var(--modal-window-width) * 100%);
  }
}

@media (max-width: 576px) {
  :root {
    --modal-window-width: 290;
    --modal-window-left: 290;
  }

  .gallery__mod-win-block {
    flex-direction: column;
    min-height: auto;
  }

  .gallery__swiper-text-years {
    margin-bottom: 12px;
  }
}

/*=====  End of modal window  ======*/

.gallery__swiper-slide:hover::after {
  opacity: 1;
}

.gallery__swiper-slide:focus::before {
  outline: none;
  border-color: #7943A4;
}

.gallery__swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__sale {
  position: absolute;
  left: 30px;
  bottom: calc(var(--gallery-vertical-padding) - 12px);
  display: flex;
  align-items: flex-end;
}

.gallery__sale-text {
  width: 97%;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallery__sale-link {
  color: #C283F3;
}

@media (max-width: 1024px) {

  .gallery__mod-win-block {
    width: calc( 594 / 984 * 100%);
    min-height: 594px;
  }

  .gallery__mod-win-left {
    width: calc(264 / 594 * 100%);
  }

.gallery__mod-win-right {
  width: calc(330 / 594 * 100%);
  }

  .gallery__title-block,
  .gallery__sale {
    width: calc(280 / 924 * 100%);
  }

  .gallery__slider {
    width: calc( (594 + 50) / 924 * 100% - 50px);
  }

  .gallery__swiper-slide {
  }
}

@media  (max-width: 768px) {

  .gallery__container {
    padding-bottom: calc(var(--gallery-vertical-padding) - 10px);
    flex-direction: column;
  }

  .gallery__mod-win-block {
    width: calc( 668 / 728 * 100%);
  }

  .gallery__mod-win-left {
    width: calc(301 / 668 * 100%);
  }

.gallery__mod-win-right {
  width: calc(367 / 668 * 100%);
  }

  .gallery__title-block {
    width: calc(280 / 668 * 100%);
  }
  
  .gallery__slider {
    width: 100%;
    margin-bottom: 30px;
  }

  .gallery__swiper-slide::before {
    padding-top: 86.5%  ;
  }
  
  .gallery__sale {
    width: 100%;
  }
  
  .gallery__sale {
    position: static;
  }
  
}

@media (max-width: 576px) {
  :root {
    --gallery-vertical-padding: 50px;
  }
  
  .gallery__container {
    padding-bottom: var(--gallery-vertical-padding);
    padding-bottom: calc(var(--gallery-vertical-padding) - 10px);
  }
  
  .gallery__mod-win-block {
    flex-direction: column;
    width: calc(100% - 15 * 2px);
  }
  
  .gallery__mod-win-left {
    width: 100%;
  }
  
  .gallery__mod-win-right {
    width: 100%;
    padding: 20px;
  }

  .gallery__title-block {
    width: 100%;
    margin-right: 0;
  }

  .gallery-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }
  
  .gallery__select-description {
    margin-bottom: 5px;
    line-height: 32px;
  }
  
  .choices {
    margin-bottom: 39px;
  }

  .gallery__slider {
    position: relative;
    margin-bottom: auto;
    padding-bottom: 70px;
  }
  
  .gallery__slider-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery__swiper-button-prev {
    margin-left: auto;
    margin-right: 12px;
  }
  
  .gallery__swiper-button-next {
    margin-left: 12px;
    margin-right: auto;
  }
  
  .gallery__swiper-slide {
  }

  .gallery__swiper-slide::before {
    padding-top: 124.5%;
  }
}

/* section catalog */

:root {
  --catalog-vertical-padding: 80px;
}

.catalog__container {
  padding-top: var(--catalog-vertical-padding);
  padding-bottom: var(--catalog-vertical-padding);
  display: flex;
  flex-wrap: wrap;
}

.catalog__title {
  display: flex;
  flex-wrap: wrap;
  width: calc( 1080 / 1600 * 100%);
}

.catalog__title-text {
  display: inline-block;
  margin-right: 40px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333;
}

.catalog__flags {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-bottom: 12px;
}

.flag {
  display: inline-block;
  width: 46px;
  height: 46px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 46px 46px;
  background-position: center center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flag-on {
  position: relative;
}

.flag-on::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #7943A4;
  border-radius: 50%;
}

.flag-french {
  background-image: url(../img/french.png);
}

.flag-german {
  background-image: url(../img/german.png);
}

.flag-italian {
  background-image: url(../img/italian.png);
}

.flag-russian {
  background-image: url(../img/russian.png);
}

.flag-belgian {
  background-image: url(../img/belgian.png);
}

.flag:not(:last-child) {
  margin-right: 50px;
}

.catalog__artist {
  width: calc(50% - 50px);
  margin-right: 50px;
}

.catalog__title-description {
  width: 100%;
  line-height: 32px;
  margin-bottom: 39px;
  color: #333333;
}

.catalog__artist-card-list {
}

.catalog__artist-card-item {
  display: none;
  flex-direction: column;
}

.catalog__artist-card-item-on {
  display: flex;
}

.artist-card-item-picture {
  height: 470px;
  margin-bottom: 30px;
  position: relative;
  border: none;
  background: none;
}

.artist-card-item-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.artist-card-item-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.artist-card-item-years {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.artist-card-item-description {
  line-height: 32px;
  color: #333333;
}

.artist-card-item-link {
    font-weight: 600;
    line-height: 22px;
    color: #9D5CD0;
}

.catalog__menu {
  width: 50%;
}

.catalog__menu-list {
}

.catalog__menu-item {
  border-top: 1px solid #CACACA;
  transition: border-color .3s ease;
}

.accordion-open-parent {
  border-color: #7943A4;
}

.catalog__menu-item:last-child {
  border-bottom: 1px solid #CACACA;
}

.catalog__menu-description {
  position: relative;
  min-height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-open {
  border-color: #7943A4;
}

.catalog__menu-description-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: color .3s ease, background-color .3s ease;
}

.catalog__menu-description-btn:focus + .catalog__menu-description-text {
  color: #fff;
  background-color: #9D5CD0;
}

.catalog__menu-description-btn:hover + .catalog__menu-description-text {
  color: #9D5CD0;
  background-color: transparent;
}

.catalog__menu-description-btn:active + .catalog__menu-description-text {
  color: #7943A4;;
  background-color: transparent;
}

.accordion-open .catalog__menu-description-text {
  color: #7943A4;
}

.catalog__menu-description-btn {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  cursor: pointer;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border-color .3s ease;
}

.catalog__menu-description-btn:hover {
  border-color: #9D5CD0;
}

.catalog__menu-description-btn:active {
  border-color: #7943A4;
}

.catalog__menu-description-btn:focus {
  outline: none;
}

.catalog__menu-description-btn-img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: calc(50% - (50px / 2));
  transition: transform .3s linear;
}

.accordion-open .catalog__menu-description-btn-img {
  transform: rotate(180deg);
}

.description-btn-img-back {
  transition: fill .3s ease;
}

.catalog__menu-description-btn:hover .catalog__menu-description-btn-img .description-btn-img-back {
  fill: #D1A9F0;
}

.catalog__menu-description-btn:focus .catalog__menu-description-btn-img .description-btn-img-back {
  fill: #D1A9F0;
}

.description-btn-img-border {
  stroke: #ECECEC;
  transition: stroke .3s ease;
}

.catalog__menu-description-btn:hover .catalog__menu-description-btn-img .description-btn-img-border {
  stroke: #D1A9F0;
}

.catalog__menu-description-btn:active .catalog__menu-description-btn-img .description-btn-img-border {
  stroke: #9D5CD0;
  stroke-width: 2px;
}

.catalog__menu-item-block {
  display: none;
  max-height: 0;
  overflow: hidden;
  border-top: 1px solid transparent;
  transition: border-color .3s linear, max-height .3s linear;
}

.accordion-open ~ .catalog__menu-item-block {
  max-height: 338px;
  border-color: #7943A4;
}

.catalog__menu-item-block-on {
  display: block;
}

.catalog__menu-item-list {
  display: flex;
  max-height: 360px;
  padding: 25px 0;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.accordion-open ~ .catalog__menu-item-block .catalog__menu-item-list {
}

.catalog__menu-item-item {
}

.accordion-open ~ .catalog__menu-item-block .catalog__menu-item-list .catalog__menu-item-item {
}

.catalog__menu-item-item-artist {
  font-size: 16px;
  line-height: 31px;
  color: #333333;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

.catalog__menu-item-item-artist:hover {
  color: #9D5CD0;
  border-color: #9D5CD0;
}

.catalog__menu-item-item-artist:active {
  color: #9D5CD0;
  border-color: transparent;
}

.catalog__menu-item-item-artist:focus:not(:active) {
  color: #fff;
  background-color: #9D5CD0;
}

.catalog__item-artist-on {
  color: #9D5CD0;
  border-color: transparent;
}

.catalog__menu-empty-block {
  display: none;
  overflow: hidden;
  align-items: center;
  max-height: 0;
  border-top: 1px solid transparent;
  transition: max-height .3s linear, padding .3s linear;
}

.accordion-open ~ .catalog__menu-empty-block {
  max-height: 240px;
  padding: 25px 0;
  border-color: #7943A4;
}

.catalog__menu-empty-block-on {
  display: flex;
}

.catalog__empty-block-img {
  display: inline-block;
  position: relative;
  width: calc(275 / 800 * 100%);
  min-height: 189px;
  margin-right: 24px;
  flex-shrink: 0;
  border: 2px solid #B7B7B7;
}

.catalog__empty-block-img::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  z-index: 1;
  background-color: #B7B7B7;
}

.catalog__empty-block-strong {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
}

.catalog__empty-block-text {
  max-width: 275px;
  line-height: 22px;
  margin-bottom: 5px;
}

.catalog__empty-block-link {
  font-weight: 600;
  line-height: 22px;
  color: #9D5CD0;
}

@media (max-width: 1200px) {
  .catalog__title {
    width: 100%;
    flex-grow: 0;
  }

  .catalog__flags {
    align-items: flex-end;
    min-height: 65px;
    margin-bottom: 16px;
  }

  .artist-card-item-picture {
    height: 274px;
  }

  .catalog__artist {
    width: calc(50% - 25px);
    margin-right: 25px;
  }

  .catalog__menu {
    width: calc(50% - 25px);
    margin-left: 25px;
  }

  .catalog__menu-item-item-artist {
    font-size: 16px;
    line-height: 31px;
  }

  .accordion-open ~ .catalog__menu-item-block {
    max-height: 434px;
  }

  .catalog__menu-item-list {
    max-height: 434px;
  }

  .catalog__empty-block-img {
    width: calc(189 / 437 * 100%);
    min-height: 130px;
  }
}

@media (max-width: 992px) {
  .catalog__flags {
    min-height: 57px;
    margin-bottom: 24px;
    flex-grow: 1;
    justify-content: space-between;
  }

  .catalog__title-description {
    margin-bottom: 21px;
  }

  .catalog__artist {
    width: 100%;
    margin-right: 0;
    order: 1;
  }

  .artist-card-item-picture {
    height: 419px;
  }

  .catalog__menu {
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .accordion-open ~ .catalog__menu-item-block,
  .catalog__menu-item-list {
    max-height: 338px;
  }

  .catalog__empty-block-img {
    width: calc(275 / 668 * 100%);
    min-height: 189px;
  }
}


@media (max-width: 576px) {
  :root {
    --catalog-vertical-padding: 50px;
    --catalog-vertical-padding: 50px
  }

  .catalog__title-text {
    margin-right: 0;
    font-size: 28px;
    line-height: 38px;
  }
  
  .catalog__flags {
    width: 100%;
  }

  .flag {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }

  .flag:not(:last-child) {
    margin-right: 0;
  }

  .flag-on::after {
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
  }

  .catalog__title-description {
    display: none;
  }

  .catalog__flags {
    min-height: 44px;
    margin-bottom: 19px;
    flex-grow: 0;
  }

  .catalog__menu-description {
    min-height: 72px;
  }

  .catalog__menu-description-text {
    font-size: 18px;
  }

  .catalog__menu-description-btn-img {
    width: 30px;
    height: 30px;
    top: calc(50% - (30px / 2));
  }

  .catalog__menu-item-list {
    padding: 20px 0;
  }

  .accordion-open ~ .catalog__menu-item-block, .catalog__menu-item-list {
    max-height: none;
  }

  .catalog__empty-block-img {
    width: calc(90 / 290 * 100%);
    min-height: 130px;
  }

  .catalog__empty-block-strong {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .catalog__empty-block-text {
    max-width: none;
    margin-bottom: 5px;
  }

  .artist-card-item-picture {
    height: 181px;
    margin-bottom: 19px;
  }

  .artist-card-item-name {
    margin-bottom: 14px;
  }

}


