@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
	    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
	    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
	    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
	    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body  {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 30px;
}

.back-hero-img {
  position: relative;
  z-index: 0;
}

.swiper-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.slide-1,
.slide-2,
.slide-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slide-1 {
  background-image: url(../img/back-hero-img_1_1920.jpg);
}

.slide-2 {
  background-image: url(../img/back-hero-img_2_1920.jpg);
}

.slide-3 {
  background-image: url(../img/back-hero-img_3_1920.jpg);
}

@media (max-width: 1200px) {
  .container {
    max-width: 984px;
  }
}

@media (max-width: 1024px) {
  .slide-1 {
    background-image: url(../img/back-hero-img_1_1024.jpg);
  }

  .slide-2 {
    background-image: url(../img/back-hero-img_2_1024.jpg);
  }

  .slide-3 {
    background-image: url(../img/back-hero-img_3_1024.jpg);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 728px;
  }
}

@media (max-width: 768px) {
  .slide-1 {
    background-image: url(../img/back-hero-img_1_768.jpg);
  }

  .slide-2 {
    background-image: url(../img/back-hero-img_2_768.jpg);
  }

  .slide-3 {
    background-image: url(../img/back-hero-img_3_768.jpg);
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 320px) {
  .slide-1 {
    background-image: url(../img/back-hero-img_1_320.jpg);
  }

  .slide-2 {
    background-image: url(../img/back-hero-img_2_320.jpg);
  }

  .slide-3 {
    background-image: url(../img/back-hero-img_3_320.jpg);
  }
}

/* header-top */

.header-top {
  background-color: #000;
}

.header-top__container {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.header-top__burger {
  display: none;
  width: 36px;
  height: 28px;
  cursor: pointer;
}

.burger-x {
  display: none;
}

.logo {
  display: inline-block;
  width: 173px;
  height: 39.9px;
}

.header-top__logo {
  width: 22%;
  margin-right: auto;
}

.header-top__nav {
  display: flex;
  flex-grow: 1;
}

.header-top__search-btn {
  display: none;
  width: 30px;
  height: 29px;
  cursor: pointer;
}

.header-top__search {
  display: none;
}

.header-top__search-x {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease;
}

.nav-link:hover {
  color: #C283F3;
}

.nav-link:active {
  color: #7943A4;
}

.nav-link:focus {
  outline: none;
  background: #7943A4;
}

.header-top__login {
  width: 28.2%;
  display: flex;
}

.header-top__login-link {
  display: inline-block;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease;
}

.header-top__login-link:hover {
  color: #C283F3;
}

.header-top__login-link:active {
  color: #9D5CD0;
}

.header-top__login-link:focus {
  background-color: #7943A4;
  outline: none;
}

.header-top__login-link svg path {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  transition: fill .3s ease;
}

.header-top__login-link:hover svg path {
  fill: #C283F3;
}

.header-top__login-link:active svg path {
  fill: #9D5CD0;
}

@media (max-width: 1200px) {
  .header-top__burger {
    display: inline-block;
    flex-basis: 33.3%;
  }

  .header-top__logo {
    flex-basis: 33.3%;
    width: auto;
    margin-left: auto;
    text-align: center;
  }

  .logo {
    width: auto;
    height: auto;
  }

  .logo svg {
    width: 188px;
    height: 44px;
  }

  .header-top__search-btn {
    flex-grow: 1;
    display: inline-block;
    text-align: end;
  }

  .header-top__login {
    display: none;
  }

  .burger-close {
    position: absolute;
    z-index: 1;
  }

  .header-top__nav {
    display: none;
    height: 768px;
    padding: 96px 48px 51px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  .nav-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #fff;
  }

  .burger-on {
    display: flex;
    flex-direction: column;
  }

  .burger-close .burger-x {
    display: block;
  }

  .burger-close .burger-img {
    display: none;
  }

  .burger-on .nav-list {
    display: flex;
    flex-grow: 0;
    flex-basis: 448px;
    flex-direction: column;
  }

  .burger-on .header-top__login {
    display: flex;
    width: 257px;
    height: 60px;
    margin-top: auto;
    padding: 17px 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .burger-on .header-top__login .header-top__login-link {
    margin-left: 0;
  }

  .header-top__search-submit,
  .header-top__search-input {
    background: none;
    border: none;
  }

  .header-top__search-submit {
    cursor: pointer;
  }

  .header-top__search-input {
    margin: 0 10px;
    flex-grow: 1;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    outline: none;
  }

  .header-top__search-btn.search-on  {
    display: none;
  }

  .header-top__search.search-on {
    flex-grow: 1;
    display: flex;
  }

}

@media (max-width: 992px) {

  .header-top__burger.search-on,
  .header-top__logo.search-on {
    display: none;
  }

  .header-top__search-x {
    display: inline-block;
    cursor: pointer;
  }

}

@media (max-width: 576px) {

  .header-top__container {
    min-height: 45px;
  }

  .header-top__burger,
  .burger-img,
  .burger-img svg{
    width: 25px;
    height: 18px;
    color: red;
  }

  .logo svg {
    width: 97px;
    height: 22px;
  }

  .header-top__search-btn,
  .header-top__search-btn svg {
    width: 18px;
    height: 18px;
  }

  .burger-x,
  .burger-x svg{
    width: 15px;
    height: 15px;
  }

  .header-top__nav {
    padding: 46px 15px 27px;
    height: 355px;
  }

  .burger-on .nav-list {
    flex-basis: 224px;
  }

  .nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  .burger-on .header-top__login {
    width: 115px;
    height: 40px;
    padding: 11px 29px;
  }

  .header-top__login-link {
    width: 73px;
    padding-left: 13px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background-size: 9px 9px;
  }

  .header-top__search-submit svg {
    width: 16px;
    height: 16px;
  }

  .header-top__search-x svg {
    width: 15px;
    height: 15px;
  }
}


/* header-bottom */

.header-bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.header-bottom__nav {
  flex-grow: 1;
}

.header-bottom__nav-list {
  display: flex;
  justify-content: space-between;
}

.header-bottom__nav-item {
  position: relative;
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s linear, color .3s linear;
}

.header-bottom__nav-item:hover {
  color: #9D5CD0;
}

.header-bottom__nav-item:active {
  color: #7943A4;
}

.header-bottom__nav-item:focus {
  background-color: #7943A4;;
  outline: none;
}

.header-bottom__nav-item span {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s linear;
}

.header-bottom__nav-item:active span {
  transform: rotate(180deg);
}

.header-bottom__nav-item span svg {
  transition: stroke .3s linear;
}

.header-bottom__nav-item:hover span svg path {
  stroke: #9D5CD0;
}

.header-bottom__nav-item:active  span svg path {
  stroke: #7943A4;
}

.header-bottom__search {
  display: flex;
  justify-content: flex-end;
  width: 35.4%;
}

.header-bottom__search-submit {
  margin-right: 9px;
  transform: translateY(4px);
  cursor: pointer;
  background: none;
  border: none;
}

.header-bottom__search-input {
  width: 218px;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.header-bottom__search-input:hover {
  border-color: #C283F3;
}

.header-bottom__search-input:focus {
  border-color: #7943A4;
  outline: none;
}

.header-bottom__search-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.dropdown-list-active {
}

.dropdown-list-active span {
  transform: rotate(180deg);
}

.dropdown-list-active .dropdown-list {
  display: block;
}

.dropdown-list-opacity .dropdown-list {
  opacity: 1;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 47px;
  width: 300px;
  height: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .3s linear;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-link {
  display: flex;
  min-height: 40px;
  width: 100%;
  align-items: center;
  padding: 0 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  outline: none;
  transition: background-color .3s ease;
}

.dropdown-link:hover,
.dropdown-link:focus {
  padding-left: 12px;
  border: 2px solid #9D5CD0;
}

.dropdown-link:active {
  padding-left: 12px;
  background-color: rgba(194, 131, 243, 0.4);
  border: 2px solid #D1A9F0;
}

.back {
  background-repeat: no-repeat;
  background-size: contain;
}

.realism-tintoretto {
  background-image: url(../img/realism-tintoretto.jpg);
}

.realism-fridrich {
  background-image: url(../img/realism-fridrich.jpg);
}

.realism-leonardo {
  background-image: url(../img/realism-leonardo.jpg);
}

.realism-verokko {
  background-image: url(../img/realism-verokko.jpg);
}

.impressionism-mone {
  background-image: url(../img/impressionism-mone.jpg);
}

.impressionism-sisley {
  background-image: url(../img/impressionism-sisley.jpg);
}

.impressionism-mane {
  background-image: url(../img/impressionism-mane.jpg);
}

.impressionism-renuar {
  background-image: url(../img/impressionism-renuar.jpg);
}

.posimpressionism-vangog {
  background-image: url(../img/posimpressionism-vangog.jpg);
}

.posimpressionism-sesann {
  background-image: url(../img/posimpressionism-sesann.jpg);
}

.posimpressionism-gogen {
  background-image: url(../img/posimpressionism-gogen.jpg);
}

.posimpressionism-syora {
  background-image: url(../img/posimpressionism-syora.jpg);
}

.avangard-kandinsky {
  background-image: url(../img/avangard-kandinsky.jpg);
}

.avangard-marinetty {
  background-image: url(../img/avangard-marinetty.jpg);
}

.avangard-malevich {
  background-image: url(../img/avangard-malevich.jpg);
}

.avangard-picasso {
  background-image: url(../img/avangard-picasso.jpg);
}

.futurism-karra {
  background-image: url(../img/futurism-karra.jpg);
}

.futurism-pratella {
  background-image: url(../img/futurism-pratella.jpg);
}

.futurism-severini {
  background-image: url(../img/futurism-severini.jpg);
}

.futurism-bella {
  background-image: url(../img/futurism-bella.jpg);
}

@media (max-width: 1200px) {
  .header-bottom {
    display: none;
  }
}

/* custom scrollbar */

.simplebar-track.simplebar-vertical {
  width: 2px;
  top: 40px;
  bottom: 40px;
  right: 19px;
  background-color: #000;
}

.simplebar-scrollbar {
  width: 2px;
  background-color: #fff;
}


/* section hero */

.hero {
  position: relative;
  pointer-events: none;
}

.hero__container {
  padding-top: 69px;
  padding-bottom: 122px;
}

.hero-title {
  margin-bottom: 20px;
  max-width: 37%;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero-description {
  max-width: 37%;
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero-btn {
  display: inline-block;
  width: 314px;
  height: 70px;
  padding: 23px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #9D5CD0;
  border-radius: 100px;
  pointer-events: auto;
}

.hero-btn:hover {
  padding: 20px 0;
  border: 3px solid #D1A9F0;
}

.hero-btn:active {
  padding: 20px 0;
  border: 3px solid #D1A9F0;
  background: #7943A4;
}

.hero-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #C283F3;
}

@media (max-width: 1200px) {
  .hero__container {
    padding-top: 111px;
    padding-bottom: 115px;
  }

  .hero-title {
    max-width: 62%;
    margin-bottom: 10px;
  }

  .hero-description {
    max-width: 71%;
    margin-bottom: 132px;
  }
}

@media (max-width: 992px) {
  .hero-title {
    max-width: 100%;
  }

  .hero-description {
    max-width: 100%;
  }
}

@media (max-width: 650px) {

  .hero__container {
    padding-top: 32px;
    padding-bottom: 45px;
  }

  .hero-title {
    display: block;
    max-width: 258px;
    text-align: center;
    margin: 0 auto 10px auto;
    font-size: 32px;
    line-height: 38px;
  }

  .hero-description {
    display: block;
    max-width: 265px;
    margin: 0 auto 39px auto;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
  }

  .hero-btn {
    display: block;
    width: 200px;
    height: 40px;
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  .hero-btn:hover {
    padding: 9px 0;
    border: 3px solid #D1A9F0;
  }

  .hero-btn:active {
    background: #7943A4;
    padding: 9px 0;
    border: 3px solid #D1A9F0;
  }

}

/* section about */

.about__container {
  padding-top: 80px;
  padding-bottom: 69px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-title {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333333;
}

.about-description {
  max-width: 1080px;
  font-size: 16px;
  line-height: 33px;
  color: #333333;
}

@media (max-width: 1200px) {

  .about__container {
    padding-bottom: 70px;
  }

  .about-description {
    line-height: 32px;
  }
}

@media (max-width: 576px) {

  .about__container {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .about-title {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 38px;
  }

  .about-description {
    font-size: 14px;
    line-height: 28px;
  }
}
