@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
	    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
	    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
	    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
	    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body  {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 30px;
}

/* header-top */

.header-top {
  background-color: #000;
}

.header-top__container {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.burger {
  display: none;
}

.logo {
  display: inline-block;
  width: 173px;
  height: 39.9px;
}

.header-top__logo {
  width: 22%;
  margin-right: auto;
}

.header-top__nav {
  flex-grow: 1;
}

.serch-btn {
  display: none;
}

.nav-list {
  justify-content: space-between;
  display: flex;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.login {
  width: 22%;
  display: flex;
}

.login-link {
  display: inline-block;
  width: 73px;
  margin-left: auto;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-image: url(../img/login-img.svg);
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: left center;
}

/* header-bottom */

.header-bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.header-bottom__nav {
  flex-grow: 1;
}

.header-bottom__nav-list {
  display: flex;
  justify-content: space-between;
}

.header-bottom__nav-item {
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
  background-image: url(../img/frame_17.svg);
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: right center;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.search {
  display: flex;
  justify-content: flex-end;
  width: 35.4%;
}

.search-submit {
  margin-right: 9px;
  transform: translateY(4px);
  cursor: pointer;
  background: none;
  border: none;
}

.search-input {
  width: 218px;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.search-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header-bottom__nav-item {
  position: relative;
}

.dropdown-list-active {
  background-color: #7943A4;
}

.dropdown-list-active .dropdown-list {
  display: block;
  animation: anim .3s ease-in-out 1;
}

.dropdown-list-opacity .dropdown-list {
  animation: anim reverse .3s ease-in-out;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 47px;
  width: 300px;
  height: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
}

.dropdown-item {
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

/* custom scrollbar */

.simplebar-track.simplebar-vertical {
  width: 2px;
  top: 40px;
  bottom: 40px;
  right: 19px;
  background-color: #000;
}

.simplebar-scrollbar {
  width: 2px;
  background-color: #fff;
}


